$earth-size: 100px
$venus-size: calc( $earth-size / 1.1)
$mercury-size: calc( $earth-size / 2.6)
$sun-size: calc($earth-size * 2)
$mars-size:calc($earth-size / 1.9)
$satellite-size: 16px
$gap-between-planets: 20px
